* {
  box-sizing: border-box;
}

p {
  margin: 10px auto;
  text-align: center;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}


ul {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  padding-inline-start: 20px;
}

.square {
  background: rgb(215, 237, 247);
  border: 2px solid #1976d2;
  float: left;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 2rem;
  width: 4rem;
  height: 4rem;
  padding: 0;
  text-align: center;
}

.x-square {
  color: darkblue;
}

.o-square {
  color: darkgreen;
}

.square-disabled {
  color: black;
  pointer-events: none;
}

.square-winning {
  color: red;
}

.square-nonwinning {
  filter: grayscale(100%);
}

.board {
  background: #ffffff;
  width: 250px;
  margin: 0 auto;
}

.status {
  margin-bottom: 1.5rem;
}

.game-info {
  margin: 0 3rem 0 3rem;
}

.small-grid {
  transform: scale(0.6);
  margin-left: 1rem;
  transform-origin: top left;
  font-size: 1.5rem;
}

.move-history-title {
  margin: 0 2rem 1rem 1rem;
}

.gridboard-move-history {
  filter: grayscale(100%);
}