* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

p {
  margin: 10px auto;
  text-align: center;
}

ul {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  padding-inline-start: 20px;
}

.square {
  background: rgb(215, 237, 247);
  border: 2px solid #626262;
  float: left;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 2rem;
  width: 4rem;
  height: 4rem;
  padding: 0;
  text-align: center;
}

/*.square {
  border: 1px solid #999;
  max-width: 100px;
  height: 7vw;
}*/

.x-square {
  color: darkblue;
}

.o-square {
  color: darkgreen;
}

.winning-square {
  color: red;
  background: yellow;
}

.board {
  background: #ffffff;
  width: 250px;
  margin: 0 auto;
}


/* .board-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100px;
  margin: 0 auto;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}*/

.status {
  margin-bottom: 10px;
}

.game-info {
  margin-left: 50px;
}

.small-grid {
  transform: scale(0.6);
  margin-left: 1rem;
  transform-origin: top left;
  font-size: 1.5rem;
}

.move-history-title {
  margin: 0 1rem 1rem 1rem;
}