* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

p {
  margin: 10px auto;
  text-align: center;
}

code {
  font-size: 1.2em;
}

ul {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 36px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.x-square {
  color: darkblue;
}

.o-square {
  color: darkgreen;
}

.winning-square {
  color: red;
}

.board {
  background: #ffffff;
}


.board-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100px;
  margin: 0 auto;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 50px;
}

.small-grid {
  transform: scale(0.7);
  margin: 5px;
  font-size: 20px;
}